<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <sectionGroup name="test">
      <section 
        name="input" 
        type="Terminator.Device.Input.Configuration, Terminator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
        allowLocation="true" 
        allowDefinition="Everywhere"/>
      <section
        name="output"
        type="Terminator.Device.Output.Configuration, Terminator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        allowLocation="true"
        allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <test>
    
    <input>
      <joysticks>
        <add name="Physical Joystick Input" productName="NAME GOES HERE" productNumber="0"/>
        <add name="Virtual Joystick Input" productName="vJoy Device" productNumber="0"/>
      </joysticks>
    </input>

    <output>
      <joysticks>
        <add name="Virtual Joystick Output" id="1"/>
      </joysticks>
    </output>
    
  </test>

</configuration>